html { 
	height: 100%;
	width: 100%;
	font-family: 'MedievalSharp', cursive;
  background: url(witcher.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.coin{
	position: relative;
	left:700px;
	top:150px;
	
}

.toss{
	position:absolute;
	left:-25px;

}
